*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body, html{
	font-size: 16px;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: inherit;
}
/* ------------- Header styles--------------- */

header{
	top: 0;
	position: fixed;
	width: 100%;
	background: #fff;
	z-index: 1;
	padding: 1.2% 2.7% 0.8%;
	display: flex;
	justify-content: space-between;
}
.header-nav-wrap{
	min-height: 44px;
	display: flex;
	background: #fff;
	align-items: center;
}
.mvr-coin-logo{
	width: 175px;
	height: 44px;
	background: url(../images/mvr-header-logo.png) no-repeat;
	background-size: contain;
}
.top-nav{
	text-transform: uppercase;
	font: normal 1rem "Open Sans";
	color: #7f7f7f;
}
.top-nav ul{
	margin-left: 31px;
	font-size: 0.9rem;
}
.top-nav > ul > li{
	display: inline-block;
	margin-right: 31px;
	vertical-align: middle;
}
.top-nav > ul > li:last-of-type{
	display: inline-block;
	margin-right: 0;
}
.top-nav > ul > li a{
	font-family: "Open Sans";
	color: #7f7f7f;
}
.header-login-wrap{
	min-height: 44px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.telegram-wrap{
	min-height: 44px;
	display: flex;
	background: #fff;
	align-items: center;
	justify-content: space-between;
	color: black;
	font: normal 0.9rem "Open Sans";
}
.telegram-icon{
	width: 27px;
	height: 27px;
	margin-right: 8px;
	background: url(../images/telegram-icon.png) no-repeat;
	background-size: contain;
}
.telegram-wrap a{
	font: normal 0.9rem "Open Sans";
	color: #7f7f7f;
	text-decoration: underline;
}
.registration-wrap{
	min-height: 44px;
	display: flex;
	background: #fff;
	align-items: center;
	justify-content: space-between;
	color: black;
	font: normal 1rem "Open Sans";
	margin-left: 39px;
}
.registr-icon{
	width: 27px;
	height: 27px;
	margin-right: 7px;
	background: url(../images/contacts-icon.png) no-repeat;
	background-size: contain;
}
.register-link{
	text-transform: uppercase;
	font: normal 0.9rem "Open Sans";
	color: #1da1f2;
}
.sep-border{
	border-left: 2px solid #7f7f7f;
	height: 18px;
	width: 1px;
	margin-left: 9px;
}
.sign-link{
	text-transform: uppercase;
	font: bold 1rem "Open Sans";
	color: black;
	margin-left: 8px;
}
.lang-wrap{
	min-height: 44px;
	display: flex;
	align-items: center;
	margin-left: 45px;
}
.flag-icon{
	width: 25px;
	height: 25px;
	margin-right: 6px;
	background: url(../images/lang-icon-logo.png) no-repeat;
	background-size: contain;
}
.open-lang{
	width: 10px;
	height: 7px;
	background: url(../images/open-lang.png) no-repeat;
	background-size: contain;
}
.buy-wrap{
	border: 1px solid #46b2f4;
	padding: 0.6rem 2.1rem;
	border-radius: 1.5rem;
	color: #46b2f4;
	margin-left: 50px;
	font: normal 1rem "Open Sans";
}
/* ------------- End header styles --------------- */

/* ------------- "About-mvr" section styles --------------- */

.about-mvr{
	background: #f1f1f1;
	padding: 4rem 2.5%;
}
.mvr-description-wrap{
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	width: 96%;
	/*background: rgba(255, 0, 0, 0.1);*/
}
.devices-image{
	width: 54%;
	background: url(../images/devices.png) no-repeat;
	background-size: contain;
	background-position: center center;
	/*background-color: rgba(31, 0, 255, 0.1);*/
	margin-top: 0.8rem;
}
.mvr-descr-list-wrap{
	width: 40%;
	/*background: rgba(87, 255, 25, 0.23);*/
}
.heading-2-lvl{
	font: normal 2.53rem "Open Sans";
	color: #1da1f2;
	padding: 0 0.25em;
	letter-spacing: -0.014em;
	line-height: 1.52em;
}
.heading-2-lvl .white-bg{
	background: #fff;
}
.heading-2-lvl.center {
	text-align: center;
	max-width: 70%;
	margin:0 auto;
}
.heading-2-lvl.white {
	color:white;
}
.descr-list{
	font: normal 1.3em "Open Sans";
	margin: 2.4rem 0 1.5rem 0;
	text-transform: uppercase;
}
.mvr-list {
	list-style-image: url(../images/arrow-icon-list.png);
}
.mvr-list li {
	padding-left: 1.1em;
	color: #1da1f2;
	font-family: "Open Sans";
	font-size: 1.15em;
	margin: 0 0 0.5rem 1.6rem;
}
.mvr-list li p span {
	color: black;
}
.mvr-list li p b {
	text-transform: uppercase;
}
.mvr-list li:nth-of-type(2n) {
	margin-bottom: 2.2rem;
}
.how-works-wrap {
	margin: 4.9rem auto 0 auto;
	max-width: 33%;
	display: flex;
		/*background: rgba(87, 255, 25, 0.23);*/
	justify-content: space-between;
	align-items: center;
}
.how-works-wrap > * {
	display:inline-block;
}
.how-works-text {
	font: italic 1.1rem "Open Sans";
}
.video-button {
	background: url(../images/play-icon.png) no-repeat;
	background-position: 0.5rem center;
	border: 1px solid #6ba7f2;
	font: normal 1.15rem "Open Sans";
	color: #6ba7f2;
	padding: 0.5rem 2rem 0.5rem 3.1rem;
	border-radius: 1.25rem;
	outline:none;
}

/* ------------- End "About-mvr" section styles --------------- */

/* ------------- "Join-us" section styles --------------- */
.join-us {
	background: #f1f1f1;
	padding: 0.5rem 0 0 0;
	width:100%;
}
.video-wrap {
	background: url(../images/border-blue-top_001.png) no-repeat;
	background-size: cover;
	background-position-y: 10rem;
}
.mvr-video {
	margin: 3rem auto 0 auto;
	max-width: 100%;
	display: block;
}
.blue-bg {
	background: #1da1f2;
	width:100%;
}
.video-note {
	font: normal 1rem "Open Sans";
	width: 49%;
	margin: 0 auto;
	display: block;
	padding: 2rem 0 3.8rem 0;
}
.video-note .video-note-link {
	color:white;
}

.statistic-wrap {
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;
	max-width: 1175px;
		/*background: rgba(87, 255, 25, 0.23);*/
	margin: 2.7rem auto 0 auto;
}
.block-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.count {
	font: normal 4rem "OpenSans-Light";
	color: white;
}
.count-description {
	font: normal 1.12rem "Open Sans";
	color: black;
	margin-top: 0.5rem;
}
.registry {
	background: transparent;
	text-transform: uppercase;
	border: 1px solid #fff;
	font: normal 0.95rem "Open Sans";
	color: #fff;
	padding: 0.65rem 1.7rem;
	border-radius: 1.25rem;
	outline: none;
	margin: 4rem auto 0 auto;
	display: block;
}
.video-bottom-blue {
	background: #fff url(../images/border-blue-bottom.png) no-repeat;
	height:8rem;
	width:100%;
	background-size: 100% 100%;
	background-position-y: top;
}
/* ------------- "Join-us" section styles --------------- */

/* ------------- "Calculator" section styles --------------- */

.calculator-section {
	width:100%;
}
.calculator > div{
	max-width: 810px;
	margin:0 auto;
	font: 400 0.99em/1.5 "Open Sans";
}
.calculator-slider {
	max-width: 1086px;
	margin: 3.85rem auto 0 auto;
}
.invest-wrap{
	min-height: 12rem;
	margin: 2.6rem auto 0 auto;
	max-width: 1000px;
	display: flex;
	justify-content: space-around;
	font-family: "Open Sans";
}
.invest-wrap.note{
	margin-top: 0;
}
.invest{
	text-align: center;
	width: 33%;
}
.invest-content1 {
	height: 85px;
	margin-bottom: 1.4rem;
}
.invest span{
	font:400 2.1rem "Open Sans";
}
.invest p{
	line-height: 2rem;
	font-size: 0.9rem;
}
.balans-mavro{
	background-size: 100% 100%;
	color: #333;
	font: bold 0.88em/1.5 "Open Sans";
	text-align: center;
	margin-top: 1.2rem;
	line-height: 22px;
	width: 100%;
}
.balans-mavro p{
	font: 400 1.16em/1.6 "Open Sans";
	text-align: center;
	margin: 4rem auto 0 auto;
}
.balans-mavro h4{
	font-style: italic;
	font: italic 0.85rem "Open Sans";
	color: #979797;
}
.calculator-note .blue-link {
	color: #6ba7f2;
}
/* ------------- "End calculator" section styles --------------- */

/* ------------- "Chart" section styles --------------- */

.chart-section {
	width:100%;
	margin-top: 4.4rem;
}
#chartdiv {
	width: 100%;
	height: 400px;
	overflow: hidden;
	text-align: left;
	margin: 3.5rem auto 0 auto;
	max-width: 1078px;
}
.buy-mvr-button {
	background: #1da1f2;
	border:none;
	text-transform: uppercase;
	font: normal 0.95rem "Open Sans";
	color: #fff;
	padding: 0.71rem 1.9rem;
	border-radius: 1.25rem;
	outline: none;
	margin: 5.8rem auto 0 auto;
	display: block;
}
/* ------------- End "Chart" section styles --------------- */



.header-bg{
	position: relative;
	width: 100%;
	height: 700px;
	margin-top: 85px;
	background: #f1f1f1 url(../images/header-bg..png) 0 0 / contain no-repeat;
}
.caption{
	position: absolute;
	top: 409px;
	left: 817px;
	letter-spacing: -.3px;
	font: 500 33px / 1 "Open Sans";
}
.icons-block{
	position: absolute;
	display: flex;
	top: 541px;
	left: 832px;
}
.icons-block .title{
	color: #1da1f2;
	font: 500 14px/1.3 "Open Sans";
	padding: 19px 48px 0 0;
}
.icon-wrap{
	display: flex;
	flex-direction: column;
	align-content: space-between;
	justify-content: center;
	padding-right: 37px;
}
.icon-wrap img{
	margin: auto;
	width: 33px;
}
.icon-wrap:nth-of-type(2) img{
	width: 29px;
}
.icon-wrap:nth-of-type(4) img{
	width: 40px;
}
.icon-wrap p{
	padding-top: 10px;
	font: 500 14px / 1 "Open Sans";
	color: #b0b0b0;
}
footer{
	position: relative;
	width: 100%;
	height: 475px;
	margin-top: 100px;
	border-top: 1px solid transparent;
	background-color: #f1f1f1;
}
footer:before{
	content: '';
	position: absolute;
	left: 50%;
	top: -36px;
	transform: translateX(-50%);
	width: 72px;
	height: 72px;
	background: url(../images/mavro.png) 0 0 / contain no-repeat;
}
.footer-title{
	margin: 91px 0 65px 0;
	letter-spacing: -1px;
	text-align: center;
	font: 500 42px / 1 "Open Sans";
	color: #1da1f2;
}
.partners{
	display: flex;
	justify-content: space-between;
	margin: auto;
	width: 700px;
}
.bottom-menu{
	display: flex;
	justify-content: space-between;
	width: 686px;
	margin: 43px auto 32px auto;
}
.bottom-menu li, .navigation-block li{
	font: 400 16px / 1 '"Open Sans"';
	text-transform: uppercase;
	color: #666666;
}
.navigation-block{
	display: flex;
	justify-content: space-between;
	margin: auto;
	width: 595px;
	padding: 17px 23px;
	border: 2px solid #d2d2d2;
}
.navigation-block li{
	text-transform: none;
}
.bottom-info{
	padding-top: 15px;
	padding-bottom: 4px;
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: white;
}
.bottom-info img{
	margin-left: 497px;
	margin-right: 4px;
}
.bottom-info p{
	color: #979797;
	letter-spacing: -.3px;
	font: 400 14px/1 "Open Sans";
}
.bottom-info .copy{
	margin-right: 12px;
	margin-left: 115px;
}