* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-size: 16px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

aside {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    color: white;
    z-index: 999;
    padding: 3.125rem 1.25rem;
    transform: translate3d(100%, 0, 0);
    background: #2d353c;
    transition: .5s;
}

aside.active {
    transform: translate3d(0, 0, 0);
}

aside .toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    position: absolute;
    top: 50%;
    right: 100%;
    padding: 0.625rem 1.563rem;
    transform: rotate(270deg) translate(50%, 147%);
    border-top-right-radius: 0.625rem;
    border-top-left-radius: 0.625rem;
    background: #94c750;
    font-size: 1.188rem;
    font-family: Open Sans;
    cursor: pointer;
}

aside .blue-link {
    color: #337ab7;

}

aside .blue-link:hover {
    text-decoration: underline;
}

aside .toggle p {
    padding-right: 0.9375rem;
}

aside .icon {
    transform: rotate(-270deg);
    width:  1.438rem;
    height: 1.313rem;
    background: url(../images/education.png) 0 0 / contain no-repeat;
}

aside > p {
    font: 700 0.875rem / 1.4 Open Sans;
    margin-bottom:  1.25rem;
}

aside > p:last-of-type {
    text-align: center;
    margin-top: 0.625rem;
}

.left-socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    transform: translateY(-60%);
    z-index: 999;
}

.left-socials .icon {
    transition: .5s;
}

.left-socials .icon:nth-of-type(1) {
    transform: translate3d(-120px, 0, 0);
}

.left-socials .icon:nth-of-type(2) {
    transform: translate3d(-134px, 0, 0);
}

.left-socials .icon:nth-of-type(3) {
    transform: translate3d(-127px, 0, 0);
}

.left-socials .icon:nth-of-type(4) {
    transform: translate3d(-108px, 0, 0);
}

.left-socials .icon:nth-of-type(5) {
    transform: translate3d(-162px, 0, 0);
}

.left-socials .icon:nth-of-type(6) {
    transform: translate3d(-130px, 0, 0);
}

.left-socials .icon:hover {
    transform: translate3d(0, 0, 0);
}

/* ------------- Header styles--------------- */

header {
    top: 0;
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 1;
    padding: 1.2% 2.7% 0.8%;
}
.mobile{
    display: flex;
    justify-content: space-between;
}
.header-bg .main-title {
    color: #f1f1f1;
    font: 500 2.125rem / 1 Open Sans;
}

.header-nav-wrap {
    min-height: 2.75rem;
    display: flex;
    background: #fff;
    align-items: center;
}

.mvr-coin-logo {
    width:  10.94rem;
    height: 2.75rem;
    background: url(../images/mvr-header-logo.png) no-repeat;
    background-size: contain;
}

.top-nav {
    text-transform: uppercase;
    font: normal 1rem "Open Sans";
    color: #7f7f7f;
}

.top-nav ul {
    margin-left:  1.938rem;
    font-size: 0.9rem;
}

.top-nav > ul > li {
    display: inline-block;
    margin-right:  1.938rem;
    vertical-align: middle;
}

.top-nav > ul > li:last-of-type {
    display: inline-block;
    margin-right: 0;
}

.top-nav > ul > li a {
    font-family: "Open Sans";
    color: #7f7f7f;
    transition: width .4s ease-in-out;
}
.top-nav > ul > li a:hover,
.top-nav > ul > li a:focus {
    color:#000;
    transition: width .4s ease-in-out;
}
.top-nav > ul > li a:after {
    display: block;
    content: "";
    height: 3px;
    width: 0;
    background-color: #337ab7;

    transition: width .4s ease-in-out;
}
.top-nav > ul > li a:focus:after,
.top-nav > ul > li a:hover:after {
    width: 100%;
}

.header-login-wrap {
    min-height: 2.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.telegram-wrap {
    min-height: 2.75rem;
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    color: black;
    font: normal 0.9rem "Open Sans";
}

.telegram-icon {
    width: 1.688rem;
    height: 1.688rem;
    margin-right: .5rem;
    background: url(../images/telegram-icon.png) no-repeat;
    background-size: contain;
}

.telegram-wrap a {
    font: normal 0.9rem "Open Sans";
    color: #7f7f7f;
    text-decoration: underline;
}

.registration-wrap {
    min-height: 2.75rem;
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    color: black;
    font: normal 1rem "Open Sans";
    margin-left: 2.438rem;
}

.registr-icon {
    width: 1.688rem;
    height: 1.688rem;
    margin-right: 0.4375rem;
    background: url(../images/contacts-icon.png) no-repeat;
    background-size: contain;
}

.register-link {
    text-transform: uppercase;
    font: normal 0.9rem "Open Sans";
    color: #1da1f2;
}

.register-link:hover {
    text-decoration: underline;
}

.sep-border {
    border-left: 2px solid #7f7f7f;
    height: 1.125rem;
    width: 1px;
    margin-left:  0.5625rem;
}

.sign-link {
    text-transform: uppercase;
    font: bold 1rem "Open Sans";
    color: black;
    margin-left:  0.5625rem;
}

.sign-link:hover {
    text-decoration: underline;
}


.lang-wrap {
    min-height: 2.75rem;
    display: flex;
    align-items: center;
    cursor:pointer;
    margin-left: 2.75rem;

}
.lang-wrap.active {
    background-color: #e7e7e7;
}

.select-lang-list {
    display:none;
    position: absolute;
    right: 18.45rem;
    top: 81%;
    background: #fff;
    border: 1px solid rgba(0,0,0,.15);
    padding: 5px 0;
    min-width: 160px;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font: normal 0.9rem "Open Sans";
}
.select-lang-list.active {
    display:block;
}

.select-lang-list .lang-item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.select-lang-list .lang-item a {
    padding: 0.3rem 1.4rem;
    clear: both;
    line-height: 1.2rem;
    color: #333;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.flag-icon {
    width: 1.563rem;
    height: 1.563rem;
    margin-right: 0.375rem;
    background: url(../images/lang-icon-logo.png) no-repeat;
    background-size: contain;
}

.open-lang {
    width: 0.625rem;
    height: 0.4375rem;
    background: url(../images/open-lang.png) no-repeat;
    background-size: contain;
}

.buy-wrap {
    border: 1px solid #46b2f4;
    background:transparent;
    padding: 0.6rem 2.1rem;
    border-radius: 1.5rem;
    color: #46b2f4;
    margin-left: 3.125rem;
    font: normal 1rem "Open Sans";
    transition: .3s;
}

.buy-wrap:hover {
    cursor: pointer;
    color: #ffffff;
    background: #46b2f4;
}

/* ------------- End header styles --------------- */

/* ------------- "About-mvr" section styles --------------- */

.about-mvr {
    background: #f1f1f1;
    padding: 4rem 2.5%;
}

.mvr-description-wrap {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 96%;
    /*background: rgba(255, 0, 0, 0.1);*/
}

.devices-image {
    width: 54%;
    background: url(../images/devices.png) no-repeat;
    background-size: contain;
    background-position: center center;
    /*background-color: rgba(31, 0, 255, 0.1);*/
    margin-top: 0.8rem;
}

.mvr-descr-list-wrap {
    width: 40%;
    /*background: rgba(87, 255, 25, 0.23);*/
}

.heading-2-lvl {
    font: normal 2.53rem "Open Sans";
    color: #1da1f2;
    padding: 0 0.25em;
    letter-spacing: -0.014em;
    line-height: 1.52em;
}

.heading-2-lvl .white-bg {
    background: #fff;
}

.heading-2-lvl.center {
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
}

.heading-2-lvl.white {
    color: white;
}

.descr-list {
    font: normal 1.3rem "Open Sans";
    margin: 2.4rem 0 1.5rem 0;
    text-transform: uppercase;
}

.mvr-list {
    list-style-image: url(../images/arrow-icon-list.png);
}

.mvr-list li {
    padding-left: 1.1em;
    color: #1da1f2;
    font-family: "Open Sans";
    font-size: 1.15rem;
    margin: 0 0 0.5rem 1.6rem;
}

.mvr-list li p span {
    color: black;
}

.mvr-list li p b {
    text-transform: uppercase;
}

.mvr-list li p a:hover {
    text-decoration: underline;
}

.mvr-list li:nth-of-type(2n) {
    margin-bottom: 2.2rem;
}

.how-works-wrap {
    margin: 4.9rem auto 0 auto;
    max-width: 33%;
    display: flex;
    /*background: rgba(87, 255, 25, 0.23);*/
    justify-content: space-between;
    align-items: center;
}

.how-works-wrap > * {
    display: inline-block;
}

.how-works-text {
    font: italic 1.1rem "Open Sans";
}

.video-button {
    background: #fff url(../images/play-icon.png) no-repeat;
    background-position: 0.5rem center;
    border: 2px solid #6ba7f2;
    font: normal 1.15rem "Open Sans";
    color: #6ba7f2;
    padding: 0.5rem 2rem 0.5rem 3.1rem;
    border-radius: 1.25rem;
    outline: none;
    cursor: pointer;
}

.video-button:hover {
    background: #6ba7f2 url(../images/play-icon-hover.png) no-repeat;
    background-position: 0.5rem center;
    color: #fff;
}

/* ------------- End "About-mvr" section styles --------------- */

/* ------------- "Join-us" section styles --------------- */
.join-us {
    background: #f1f1f1;
    padding: 0.5rem 0 0 0;
    width: 100%;
}

.video-wrap {
    background: url(../images/border-blue-top_001.png) no-repeat;
    background-size: cover;
    background-position-y: 10rem;
}

.mvr-video {
    margin: 3rem auto 0 auto;
    max-width: 100%;
    display: block;
}

.blue-bg {
    background: #1da1f2;
    width: 100%;
}

.video-note {
    font: normal 1rem "Open Sans";
    width: 49%;
    margin: 0 auto;
    display: block;
    padding: 2rem 0 3.8rem 0;
}

.video-note .video-note-link {
    color: white;
}

.statistic-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width:  73.44rem;
    /*background: rgba(87, 255, 25, 0.23);*/
    margin: 2.7rem auto 0 auto;
}

.block-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.count {
    font: normal 4rem "OpenSans-Light";
    color: white;
}

.count-description {
    font: normal 1.12rem "Open Sans";
    color: black;
    margin-top: 0.5rem;
}

.registry {
    background: transparent;
    text-transform: uppercase;
    border: 2px solid #fff;
    font: normal 0.95rem "Open Sans";
    color: #fff;
    padding: 0.65rem 1.7rem;
    border-radius: 1.25rem;
    outline: none;
    margin: 4rem auto 0 auto;
    display: block;
    transition: .3s;
    cursor: pointer;
}

.registry:hover {
    color: #1da1f2;
    background: #fff;
}

.video-bottom-blue {
    background: #fff url(../images/border-blue-bottom.png) no-repeat;
    height: 8rem;
    width: 100%;
    background-size: 100% 100%;
    background-position-y: top;
}

/* ------------- "Join-us" section styles --------------- */

/* ------------- "Calculator" section styles --------------- */

.calculator-section {
    width: 100%;
}

.calculator > div {
    max-width: 50.63rem;
    margin: 0 auto;
    font: 400 0.99em/1.5 "Open Sans";
}

.calculator-slider {
    max-width: 67.88rem;
    margin: 3.85rem auto 0 auto;
}

.invest-wrap {
    min-height: 12rem;
    margin: 2.6rem auto 0 auto;
    max-width:  62.5rem;
    display: flex;
    justify-content: space-around;
    font-family: "Open Sans";
}

.invest-wrap .blue-link:hover {
    text-decoration: underline;
}

.invest-wrap.note {
    margin-top: 0;
}

.invest {
    text-align: center;
    width: 33%;
}

.invest-content1 {
    height: 5.313rem;
    margin-bottom: 1.4rem;
}

.invest span {
    font: 400 2.1rem "Open Sans";
}

.invest p {
    line-height: 2rem;
    font-size: 0.9rem;
}

.balans-mavro {
    background-size: 100% 100%;
    color: #333;
    font: bold 0.88em/1.5 "Open Sans";
    text-align: center;
    margin-top: 1.2rem;
    line-height: 1.375rem;
    width: 100%;
}

.balans-mavro p {
    font: 400 1.16rem/1.6 "Open Sans";
    text-align: center;
    margin: 4rem auto 0 auto;
}

.balans-mavro h4 {
    font-style: italic;
    font: italic 0.85rem "Open Sans";
    color: #979797;
}

.calculator-note .blue-link {
    color: #6ba7f2;
}

/* ------------- "End calculator" section styles --------------- */

/* ------------- "Chart" section styles --------------- */

.chart-section {
    width: 100%;
    margin-top: 4.4rem;
}

#chartdiv {
    width: 100%;
    height:  25rem;
    overflow: hidden;
    text-align: left;
    margin: 3.5rem auto 0 auto;
    max-width: 67.38rem;
}

.buy-mvr-button {
    background: #1da1f2;
    border: 1px solid #1da1f2;;
    text-transform: uppercase;
    font: normal 0.95rem "Open Sans";
    color: #fff;
    padding: 0.71rem 1.9rem;
    border-radius: 1.25rem;
    outline: none;
    margin: 5.8rem auto 0 auto;
    display: block;
    transition: .3s;
    cursor: pointer;
}

.buy-mvr-button:hover {
    color: #1da1f2;
    background: #fff;
}

/* ------------- End "Chart" section styles --------------- */

.header-bg {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 43.75rem;
    margin-top: 5.313rem;
    background: #f1f1f1 url(../images/header-bg.png) no-repeat;
    background-size: 44% 100%;
}
.path{
    margin-top: 11%;
    margin-left: 41%;
}
.cripto{
    padding: 0.75rem;
    background: url(../images/before.png) no-repeat;
    background-position: left center;
    color: #fff;
    font-size: 2.125rem;
    margin-left: -8.75rem;
    padding-left: 8.75rem;
    margin-top: 2%;
}
.header-bg .main-title {
    position: relative;
    z-index: 0;
    text-transform: uppercase;
    color: #f1f1f1;
    font: 500 2.125rem / 1 Open Sans;
}
.header-bg a:hover{
    text-decoration: underline;
}

.caption {
    margin-top: 2%;
    letter-spacing: -.3px;
    color: #5d5d5d;
    font: 500 2.063rem / 1 Akzidenz;
}

.icons-block {
    display: flex;
    margin-top: 8%;
}

.icons-block .title {
    color: #1da1f2;
    font: 500 0.875rem/1.3 "Open Sans";
    padding: 1.188rem 3rem 0 0;
}

.icon-wrap {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-end;
    padding-right: 2.313rem;
}
.icon-wrap a{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    text-align: center;
    transition: .2s;
}
.icon-wrap a:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
}
.icon-wrap a:hover p{
    color:#333;
}
.icon-wrap img {
    margin: auto;
    width: 2.063rem;
}

.icon-wrap:nth-of-type(4) img {
    width: 2.5rem;
}

.icon-wrap p {
    padding-top: 0.625rem;
    font: 500 0.875rem / 1 "Open Sans";
    color: #b0b0b0;
}

footer {
    position: relative;
    width: 100%;
    height: 29.69rem;
    margin-top: 6.25rem;
    border-top: 1px solid transparent;
    background-color: #f1f1f1;
}

footer:before {
    content: '';
    position: absolute;
    left: 50%;
    top: -2.25rem;
    transform: translateX(-50%);
    width: 4.5rem;
    height: 4.5rem;
    background: url(../images/mavro.png) 0 0 / contain no-repeat;
}

.footer-title {
    margin: 5.688rem 0 4.063rem 0;
    letter-spacing: -1px;
    text-align: center;
    font: 500 2.625rem / 1 "Open Sans";
    color: #1da1f2;
}

.partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 43.75rem;
}

.partners li {
    transition: all .3s;
    opacity: .5;
}

.partners li:hover {
    opacity: 1;
}

.bottom-menu {
    display: flex;
    justify-content: space-between;
    max-width: 42.88rem;
    margin: 2.688rem auto 2rem auto;
}

.bottom-menu li, .navigation-block li {
    font: 400 1rem / 1 Open Sans;
    text-transform: uppercase;
    color: #666666;
}

.bottom-menu li:hover, .navigation-block li:hover {
    text-decoration: underline;
}

.navigation-block {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 37.19rem;
    padding: 1.063rem 1.438rem;
    border: 2px solid #d2d2d2;
}

.navigation-block li {
    text-transform: none;
}

.bottom-info {
    padding-top: 0.9375rem;
    padding-bottom: 0.25rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.bottom-info img {
    margin-right: 0.25rem;
}

.bottom-info p {
    color: #979797;
    letter-spacing: -.3px;
    font: 400 0.875rem/1 "Open Sans";
}

.bottom-info .copy {
    margin-right: 0.75rem;
    margin-left: 7.188rem;
}
.none{
    display: none;
}
.sandwich{
    display: none;
    position: absolute;
    top:10px;
    right: 10px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 45px;
    border-radius: 10px;
    border: 2px solid grey;
    padding: 7px 4px;
    cursor: pointer;
}
.sandwich div{
    width: 90%;
    border-top:2px solid grey;
}
@media screen and (max-width: 1500px){
    body{
        font-size: 15px;
    }
    aside{
        width: 32%;
    }
    .mobile{
        flex-direction: column;
    }
    .header-nav-wrap{
        justify-content: center;
        margin-bottom: 10px;
    }
    .heading-2-lvl{
        font-size: 2rem;
    }
}
@media screen and (max-width: 1100px) {
    body {
        font-size: 14px;
    }
    aside{
        width: 40%;
    }
    .path{
        margin-top: 16%;
    }
    .heading-2-lvl{
        font-size: 1.5rem;
    }
    .statistic-wrap{
        flex-direction: column;
    }
    .icons-block{
        margin-top: 17%;
    }
}
@media screen and (max-width: 900px) {
    body {
        font-size: 13px;
    }
    .left-socials{
        display: none;
    }
    aside{
        width: 60%;
    }
    .header-bg{
        background: none;
    }
    .path{
        margin-left: 0;
        text-align: center;
    }
    .buy-wrap{
        padding: 0.5rem 1rem;
        margin-left: 2rem;
    }
    .icons-block{
        margin-top: 10%;
        justify-content: center;
    }
    .how-works-wrap{
        max-width: 90%;
        justify-content: center;
    }
    .how-works-wrap p{
        padding-right: 10px;
    }
    .statistic-wrap{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .count{
        font-size: 3rem;
    }
    .bottom-info{
        padding: 0.7rem;
        text-align: center;
    }
}
@media screen and (max-width: 800px) {
    .select-lang-list{
        right: 0;
    }
    .path{
        margin-top: 0;
    }
    .none{
        display: block !important;
    }
    .top-nav ul{
        margin-left: 0;
        text-align: center;
    }
    .sandwich{
        display: flex;
    }
    .header-bg{
        height: 33rem;
    }
    .header-nav-wrap{
        flex-direction: column;
    }
    .mvr-coin-logo{
        display: none;
    }
    .header-login-wrap{
        flex-direction: column;
    }
    .top-nav > ul > li{
        display: block;
        padding-top: 10px;
        margin-right: 0;
    }
    .registration-wrap{
        margin-left: 0;
    }
    .mobile{
        display: none;
        position: absolute;
        top: 56px;
        left: 0;
        width: 100%;
        background: white;
        padding-bottom: 20px;
        z-index: 999;
    }
    .mobile.active{
        display: block;
    }
    .lang-wrap{
        margin-left: 0;
    }
    .buy-wrap{
        margin-left: 0;
    }
    .about-mvr{
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .mvr-description-wrap{
        flex-direction: column;
        align-items: center;
    }
    .mvr-descr-list-wrap{
        width: 100%;
    }
    .devices-image{
        width: 60%;
        height: 300px;
    }
    .heading-2-lvl{
        text-align: center;
    }
    .mvr-video{
        height: 100%;
    }
    .footer-title{
        margin: 2.5rem auto 2rem auto;
    }
    .partners{
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;
    }
    .partners li{
        padding: 5px;
    }
    .bottom-menu{
        margin: 1.5rem auto;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .bottom-menu li{
        padding: 10px;
    }
    .bottom-info .copy{
        margin-left: 1rem;
    }
    .devices-image{
        height: 220px;
    }
}
@media screen and (max-width: 600px) {
    footer{
        height: 48rem;
    }
    .bottom-menu{
        flex-direction: column;
    }
    .navigation-block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .navigation-block li{
        padding: 10px;
    }
}
@media screen and (max-width: 500px) {
    body{
        font-size: 9px;
    }
    aside{
        display: none;
    }
    .header-bg .main-title{
        font-size: 1.5rem;
    }
    footer{
        height: 51rem;
    }
    .icons-block{
        flex-wrap: wrap;
    }
    .icons-block div{
        padding-right: 1.5rem;
        padding-top: 10px;
    }
}
@media screen and (max-width: 400px) {
    .navigation-block{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .video-button{
        padding-right: 1rem;
        font-size: 1rem;
        padding-left: 2.35rem;
    }
    header{
        height: 60px;
        display: flex;
        align-items: center;
    }
    .path>img{
        width: 200px;
    }
    .heading-2-lvl.center{
        max-width: 100%;
    }
    .video-note{
        width: 90%;
    }
    .header-bg{
        height: 29rem;
    }
    .invest p{
        line-height: 1rem;
    }
    .bottom-info p{
        font-size: 0.75rem;
    }
    footer{
        height: 59rem;
    }
}